<div class="chat-view">
	<header id="banner">
		<h1>Awesome chat</h1>
		<button class="btn btn-default" id="logoutBtn"ng-click="logoutButtonClick()">Logout</button>
	</header>
	<div class="chat-container">	
		<div id="chatroom">
			<div id="messages"></div>
			<div class="input-group">
			  <input id="message" type="text" class="form-control" ng-enter  placeholder="Enter your message here">
			  <span class="input-group-btn">
				<button id="send" class="btn btn-default" ng-click="onSendMessage()" type="button">Send!</button>
			  </span>
			</div><!-- /input-group -->
		</div>
	</div>
	<footer>
		<p>Hope you enjoy stay here.</p>
	</footer>
</div>
